table {
	border: 1px black;
	}

td:hover {
	background-color: lightgreen;
	}

tr, th {
	background-color: floralwhite;
	color: mediumvioletred;
}

tr, td {
	background-color: lightgoldenrodyellow;
	color: rebeccapurple;
}
