.container {
    position: relative;
    text-align: center;
   
}

.video {
    position: relative;
    border: 2px solid rgb(117, 32, 32);
    border-radius: 10px;
    padding: 10px;
}

.centered {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    color: rgb(26, 241, 159);
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: lighter;
}